<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icn"
        android:label="Mosquito Killer"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Mosquito Killer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Menu"
            android:label="Mosquito Killer" >
            <intent-filter>
                <action android:name="com.example.mk.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Abt"
            android:label="Mosquito Killer"
            android:theme="@android:style/Theme.Dialog"   >
            <intent-filter>
                <action android:name="com.example.mk.ABT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Hlp"
            android:label="Mosquito Killer"   >
            <intent-filter>
                <action android:name="com.example.mk.HLP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Start"
            android:label="Mosquito Killer"   >
            <intent-filter>
                <action android:name="com.example.mk.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
